*,
html {margin: 0;
padding: 0;}
.container {}
body { background-color: aquamarine;}
div {background-color: rgb(0, 255, 225);}
.navbar-container {background-color: deepskyblue;
width: 100%;
height: 10vh;}
.ul-navbar {border: 5px solid red;
    display: flex;
    justify-content: center;
    align-items: center;}
.li-navbar {
border: 1px solid white;
    background-color: deepskyblue;
list-style-type: none;
padding: 20px;
margin: 5px;
color: aliceblue;}
.container-content {background-color: rgb(10, 249, 253);
display: flex;
justify-content: center;
align-items: center;
height: 80vh;}
.img-content {width: 80%;
height: 80%;}
.container-footer {background-color: rgb(0, 187, 255);
display: flex;
justify-content: center;
align-items: center;
height: 10vh;}
.hi-footer {font-size: 40px;}
.a-navbar {background-color: gold;
text-decoration: none;}
.a-contant {width: 720px;
height: 480px;
background-color: royalblue;
justify-content: center;
align-items: center;
display: flex;
flex-direction: column;}

.p-about {
font-size: 15px;
display: flex;
justify-content: center;
align-items: center;
}